/* header */
.header_wrap {width:100%; letter-spacing:-0.5px; position:sticky; z-index: 9999; background-color:#fff; top:0; left:0;}
.header {display:flex; justify-content:space-between; align-items:center; height:70px; margin:0 auto; width:100%; max-width:1170px; box-sizing: border-box; position: relative; padding:0 15px;}
.logo > a {display:block; font-family: 'GoryeongStrawberry'; color:#fb8ebf; font-size:32px; font-weight:bold; margin-top:5px;}
.gnb_wrap {text-align:right;}
.gnb_wrap .gnb > li {display:inline-block; vertical-align:middle; margin-left:45px;}
.gnb_wrap .gnb > li > a {font-size:16px; color:#433e3d; font-family: 'Roboto'; font-weight:bold;}
.gnb_wrap .gnb > li:hover > a {color:#fb8ebf;}

.down {box-shadow:0 2px 6px rgba(0,0,0,0.2); -webkit-transition-duration:0.4s; -webkit-transition-timing-function:ease; transition-duration:0.4s; transition-timing-function:ease;}

@media screen and (max-width:720px){

	/* header */
	.header_wrap {letter-spacing:-0.07vw;}
	.header {height:9.72vw; padding:0 3.47vw;}
	.logo > a {font-size:5vw; margin-top:1.1vw;}
	.gnb_wrap .gnb > li {margin-left:6.25vw;}
	.gnb_wrap .gnb > li > a {font-size:3vw;}

}